{% extends 'base.html' %}

{% block title %} Registration {% endblock %}

{% block content %}
    <h1> Registration </h1>
    <form action="{% url 'registration' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Log In">
    </form>
    
    <div>
        {% for message in messages %}
         <h4 style="color:red"> * {{ message}} </h4>
        {% endfor%}
    </div>
    
{% endblock%}